.mealListContainer {
    max-width: 33%;
    position: absolute;
    z-index: 1000;
    height: 98%;
    right: 0;
    margin-right: 1rem;
    top: 1%;
    bottom: 1%;
}

.leaflet-container  {
    height: 93vh;
    position: relative;
}

/*query for widht less that 400px*/
@media screen and (max-width: 475px) {
    .leaflet-container {
        height: 77vh;
    }
}

@media screen and (max-width: 812px) and (min-width: 763px) {
    .leaflet-container {
        height: 82vh;
    }
}

@media screen and (max-width: 763px) and (min-width: 475px) {
    .leaflet-container {
        height: 84vh;
    }
}