.input-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2rem;
}
.path-description-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 400;
    background-color: #fff;
    border-radius: 1rem;
    margin: 1rem;
}
.path-description-container p {
    font-weight: 600;
    color: #000;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin: 0 !important;
}

.map-path-description-container {
    position: relative;
}

.path-explication-sommet {
    position: relative;
}
.path-explication-sommet-ligne {
    position: absolute;
    width: 2rem;
    right: 0;
    top: 0;
    opacity: 30%;
}

.path-explication-container {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-container select {
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    max-width: 14rem;
    min-width: 8rem;

}

.input-container select option {
    max-width: 14rem;
    min-width: 8rem;
}

.input-container select:hover {
    border-color: #646cff;
}
.input-container select:focus,
.input-container select:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.input-container button::before {
    position: relative;
    overflow: hidden;
}

span.ripple {
    position: absolute; /* The absolute position we mentioned earlier */
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}